<style>
html, body {
  height: 100%;
  width: 100%;
}
body {
  background-image: url(img/bg-edit.jpg);
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

h1 {
    color: #212121;
    letter-spacing: 0.25em;
    font-weight: 300;
    font-size:2em;
    text-align: center;
    position: relative;
    margin-top: 0;
    padding-top: 5em;
}

h2 {
  color: #212121;
  font-size: 18px;
  letter-spacing: 0.5em;
  font-weight: 200;
  text-align: center;
  position: relative;
  padding-top: 2em;
}

p {
  color: #212121;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 200;
  text-align: center;
  position: relative;
  padding-top: -1em;
}

hr {
  display: block;
  width: 50%;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2.5em 0;
  margin-left: 7.95em;
}

.container {
  height: 100%;
  width:40%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.83);
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

</style>